#footer {
  padding: 40px 16px;
}
.group_service {
  padding-bottom: 50px;
  border-bottom: 1px solid #ebebeb;
}

.group_service .customer_wrap strong {
  font-size: 16px;
  font-weight: 700;
}

.customer_wrap .customer_time {
  line-height: 20px;
  padding-top: 8px;
}

.customer_wrap .customer_time p {
  font-size: 13px;
  letter-spacing: -0.07px;
  color: rgba(34, 34, 34, 0.5);
}

.customer_wrap .customer_noti {
  padding-top: 8px;
  font-size: 13px;
}

.customer_wrap .customer_btn {
  padding-top: 17px;
  display: block;
}

.customer_wrap .customer_btn a {
  display: inline-block;
  font-size: 12px;
  background: #222;
  color: #fafafa;
  height: 34px;
  line-height: 34px;
  padding: 0 14px;
}

.group_service .footmenu_wrap {
  padding-top: 50px;
  display: flex;
}

.footmenu_wrap .menu_box {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.footmenu_wrap .menu_box .title {
  font-size: 15px;
  letter-spacing: -0.15px;
  font-weight: 700;
  padding-bottom: 16px;
}

.footmenu_wrap .menu_box a {
  display: inline-block;
  font-size: 14px;
  letter-spacing: -0.21px;
  color: rgba(34, 34, 34, 0.5);
}

.footmenu_wrap .menu_box a + a {
  margin-top: 12px;
}

.group_corp {
  margin-top: 30px;
}

.group_corp .corp_list {
  display: inline-flex;
  padding-bottom: 50px;
}

.group_corp .corp_list .corp_item {
  margin-right: 12px;
}

.group_corp .corp_list .corp_link {
  display: block;
  font-size: 14px;
  letter-spacing: -0.21px;
  color: #000;
}

.group_corp .corp_item:last-child a {
  font-weight: 700;
}

.group_sns {
  display: flex;
  align-items: center;
}

.group_sns .business_btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 12px;
}
.group_sns .business_drop {
  margin-left: 5px;
}

.sns_wrap .sns_ico + .sns_ico {
  margin-left: 20px;
}

.sns_wrap .sns_ico img {
  width: 24px;
  height: 24px;
}

.group_business {
  display: none;
  padding-top: 20px;
}

.group_business .title {
  margin-right: 4px;
}

.business_info .title,
.business_info .sub {
  float: left;
  line-height: 20px;
  font-size: 13px;
  letter-spacing: -0.07px;
  color: rgba(34, 34, 34, 0.5);
}

.business_info dl::after {
  content: '';
  clear: both;
  display: block;
}

.group_notice {
  padding-top: 20px;
}

.group_notice .notice {
  font-size: 12px;
  letter-spacing: -0.06px;
  color: rgba(34, 34, 34, 0.4);
  line-height: 16px;
}

.group_notice .copyright {
  text-align: center;
  padding-top: 50px;
  font-size: 12px;
  color: rgba(34, 34, 34, 0.3);
}
