body
{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
     display: none;
}

.blind{
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
}