@charset "UTF-8";
/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 767px 이하일때*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* { margin: 0; padding: 0; font: inherit; color: inherit; }

*, :after, :before { -webkit-box-sizing: border-box; box-sizing: border-box; -ms-flex-negative: 0; flex-shrink: 0; }

:root { -webkit-tap-highlight-color: transparent; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; cursor: default; line-height: 1.5; overflow-wrap: break-word; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; }

html, body { height: 100%; }

img, picture, video, canvas, svg { display: block; max-width: 100%; }

button { background: none; border: 0; cursor: pointer; }

a { text-decoration: none; }

table { border-collapse: collapse; border-spacing: 0; }

ul, ol { list-style: none; }

/* @세팅구역 */
body { font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; font-size: 14px; scroll-behavior: smooth; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -ms-overflow-style: none; -ms-overflow-style: none; scrollbar-width: none; }

body::-webkit-scrollbar { display: none; }

.hidden, [hidden] { display: none !important; }

a { color: inherit; cursor: pointer; text-decoration: none; }

a:hover, a:focus { text-decoration: none; }

button { border: 0; background-color: transparent; cursor: pointer; }

button:disabled { cursor: not-allowed; }

select, input, textarea, button { font: inherit; -webkit-appearance: none; }

input[type='number'] { -moz-appearance: textfield; }

input:disabled { background-color: rgba(255, 255, 255, 0); cursor: not-allowed; }

select { border: 0; background-color: transparent; cursor: pointer; }

select::-ms-expand { display: none; }

input, textarea { border: 0; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input::-ms-input-placeholder, textarea::-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input::placeholder, textarea::placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE, Edge */ color: #444; opacity: 1; }

input[readonly]::-webkit-input-placeholder, input:disabled::-webkit-input-placeholder, textarea[readonly]::-webkit-input-placeholder, textarea:disabled::-webkit-input-placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]::-ms-input-placeholder, input:disabled::-ms-input-placeholder, textarea[readonly]::-ms-input-placeholder, textarea:disabled::-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]::placeholder, input:disabled::placeholder, textarea[readonly]::placeholder, textarea:disabled::placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder { /* IE, Edge */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input::-ms-clear, input::-ms-reveal, textarea::-ms-clear, textarea::-ms-reveal { /* IE, Edge */ display: none; }

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button, textarea::-webkit-inner-spin-button, textarea::-webkit-outer-spin-button { -webkit-appearance: none; }

.blind { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; }

.container { padding-top: 60px; }

header { position: fixed; top: 0; left: 0; background: #fff; width: 100%; z-index: 11; }

.header_inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 60px; padding: 0 16px; }

.header_inner .logo img { width: 100px; }

.column_right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.header_inner .column_btn { display: block; width: 20px; height: 20px; }

.header_inner .column_btn + .column_btn { margin-left: 20px; }

.navi { display: block; position: fixed; top: 0; right: 0; bottom: 0; height: 100%; background-color: rgba(0, 0, 0, 0.4); z-index: 11; }

.navi .navi_inner { z-index: 20; position: fixed; top: 0; right: -80%; bottom: 0; width: 80%; background: #fff; padding-top: 60px; -webkit-transition: 0.4s; transition: 0.4s; }

.navi_inner .group_navi { position: relative; padding-bottom: 55px; min-height: 100%; }

.navi_list .navi_item { border-bottom: 1px solid #ebebeb; }

.navi_list .navi_item .navi_link { display: block; padding: 19px 20px 18px; height: 100%; font-size: 15px; letter-spacing: -0.15px; font-weight: 700; }

.btn_close { position: absolute; top: 0; right: 0; padding: 18px 11px; }

.btn_close img { width: 24px; height: 24px; }

.navi_inner .down_area { margin: 53px 0 0 20px; }

.down_area .download_msg { font-size: 12px; color: rgba(34, 34, 34, 0.8); }

.down_area .btn_download { display: inline-block; font-size: 14px; color: rgba(34, 34, 34, 0.8); background: #fff; line-height: 38px; border: 1px solid #d3d3d3; border-radius: 10px; padding: 0 11px; margin-top: 12px; }

#footer { padding: 40px 16px; }

.service_area { padding-bottom: 50px; border-bottom: 1px solid #ebebeb; }

.service_area .customer_wrap strong { font-size: 16px; font-weight: 700; }

.customer_wrap .customer_time { line-height: 20px; padding-top: 8px; }

.customer_wrap .customer_time p { font-size: 13px; letter-spacing: -0.07px; color: rgba(34, 34, 34, 0.5); }

.customer_wrap .customer_noti { padding-top: 8px; font-size: 13px; }

.customer_wrap .customer_btn { padding-top: 17px; display: block; }

.customer_wrap .customer_btn a { display: inline-block; font-size: 12px; background: #222; color: #fafafa; height: 34px; line-height: 34px; padding: 0 14px; }

.service_area .footmenu_wrap { padding-top: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.footmenu_wrap .menu_box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 50%; }

.footmenu_wrap .menu_box .title { font-size: 15px; letter-spacing: -0.15px; font-weight: 700; padding-bottom: 16px; }

.footmenu_wrap .menu_box a { display: inline-block; font-size: 14px; letter-spacing: -0.21px; color: rgba(34, 34, 34, 0.5); }

.footmenu_wrap .menu_box a + a { margin-top: 12px; }

.corp_area { margin-top: 30px; }

.corp_area .corp_list { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; padding-bottom: 50px; }

.corp_area .corp_list .corp_item { margin-right: 12px; }

.corp_area .corp_list .corp_link { display: block; font-size: 14px; letter-spacing: -0.21px; color: #000; }

.corp_area .corp_item:last-child a { font-weight: 700; }

.sns_area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.sns_area .business_btn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: auto; font-size: 12px; }

.sns_area .business_drop { margin-left: 5px; }

.sns_wrap .sns_ico + .sns_ico { margin-left: 20px; }

.sns_wrap .sns_ico img { width: 24px; height: 24px; }

.notice_wrap { padding-top: 20px; }

.notice_wrap .notice { font-size: 12px; letter-spacing: -0.06px; color: rgba(34, 34, 34, 0.4); line-height: 16px; }

.notice_wrap .copyright { text-align: center; padding-top: 50px; font-size: 12px; color: rgba(34, 34, 34, 0.3); }

.business_wrap { display: none; padding-top: 20px; }

.business_wrap .title { margin-right: 4px; }

.business_info .title, .business_info .sub { float: left; line-height: 20px; font-size: 13px; letter-spacing: -0.07px; color: rgba(34, 34, 34, 0.5); }

.business_info dl::after { content: ''; clear: both; display: block; }

.event_slide .event_item img { width: 100%; }

.sc_category { padding-top: 30px; }

.sc-brand { padding-top: 30px; }

.shortcut { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 0 14px; }

.shortcut .link_list + .link_list { margin-top: 16px; }

.shortcut .link_item { width: calc(20% - 8.5px); margin: 0 4px; text-align: center; display: inline-block; }

.shortcut .link_item p { font-size: 12px; color: #333; margin-top: 6px; word-break: keep-all; }

.shortcut .img_box { overflow: hidden; border-radius: 50%; }

.shortcut .img_box img { width: 100%; }

.sc_product { border-top: 1px solid #ebebeb; margin-top: 30px; padding-top: 30px; }

.sc_product .group_title { padding: 0 17px; }

.sc_product .group_title .title { font-size: 18px; letter-spacing: -0.1px; font-weight: 700; color: #000; }

.sc_product .group_title .sub_title { font-size: 14px; letter-spacing: -0.21px; color: rgba(34, 34, 34, 0.5); }

.sc_product .product_wrap { overflow-x: scroll; overflow-y: hidden; white-space: nowrap; font-size: 0; }

.sc_product .product_list { padding: 0 8px; }

.sc_product .product_item { display: inline-block; vertical-align: top; width: 220px; padding: 0 8px; margin: 15px 0; }

.sc_product .product { background-color: #f6eeed; }

.sc_product .info_box { padding-top: 9px; }

.sc_product .info_box .brand_name { overflow: hidden; display: inline-block; vertical-align: top; height: 17px; line-height: 17px; padding-bottom: 2px; font-size: 14px; font-weight: 700; color: #333; white-space: nowrap; text-overflow: ellipsis; border-bottom: 1px solid #222; }

.sc_product .info_box .name { line-height: 17px; margin-top: 8.5px; max-height: 34px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal; font-size: 14px; color: #222; }

.sc_product .info_box .price { padding-top: 7px; }

.sc_product .info_box .amount { display: inline-block; vertical-align: top; line-height: 17px; font-size: 15px; letter-spacing: -0.15px; font-weight: 700; letter-spacing: -0.04px; }

.sc_product .info_box .num { display: inline-block; vertical-align: top; line-height: 17px; font-size: 15px; letter-spacing: -0.15px; font-weight: 700; letter-spacing: -0.04px; }

.sc_product .info_box .desc { line-height: 13px; font-size: 11px; color: rgba(34, 34, 34, 0.5); }

.guide_bot .guide_box { background-position: 100% 0; background-size: 350px 200px; background-repeat: no-repeat; background-position: calc(100% + 61px) 0; width: 100%; height: 200px; display: block; }

.guide_bot .guide_box:first-child { background-image: url("./../images/ban-bot01.png"); background-color: #565656; }

.guide_bot .guide_box:nth-child(2) { background-image: url("./../images/ban-bot02.png"); background-color: #3b3a3c; }

.guide_bot .guide_txt { padding: 29px 21px 0; color: #fff; }

.guide_bot .guide_txt .sub_title { font-size: 12px; }

.guide_bot .guide_txt .title { padding-top: 37px; font-size: 16px; }

.guide_bot .guide_txt .txt { margin-top: 16px; padding: 0 7px; display: inline-block; font-size: 12px; letter-spacing: -0.06px; height: 29px; line-height: 27px; border-radius: 6px; border: 1px solid rgba(255, 255, 255, 0.8); color: #fff; }

.banner { padding-top: 30px; }

.banner img { width: 100%; }

/* 인기유저 */
.sns_style { overflow: hidden; padding: 30px 0; margin-top: 30px; border-top: 1px solid #ebebeb; }

.sns_style .style_title { font-size: 20px; font-weight: 700; color: #222; padding: 0 16px 20px; }

.sns_style .style_list { overflow-x: auto; white-space: nowrap; padding: 0 16px 15px; margin: 0 -4px; }

.sns_style .style_item { display: inline-block; }

.sns_style .style_item .item_link { width: 132px; display: block; overflow: hidden; position: relative; margin: 0 4px; border-radius: 10px; }

.sns_style .style_item .item_link::after { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), color-stop(30%, rgba(0, 0, 0, 0))); background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 30%); border-radius: inherit; border: 1px solid #ebebeb; }

.sns_style .profile_box { position: absolute; top: 8px; left: 8px; width: 36px; height: 36px; z-index: 10; }

.sns_style .profile_box img { width: 100%; height: 100%; border-radius: 50%; }

.sns_style .username { position: absolute; left: 8px; bottom: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 13px; color: #fff; z-index: 10; }
